/*
 ____ ____ ____ ____ ____ ____ ____ ____ 
||s |||p |||e |||a |||k |||k |||e |||r ||
||__|||__|||__|||__|||__|||__|||__|||__||
|/__\|/__\|/__\|/__\|/__\|/__\|/__\|/__\|

PORKHEAD.ORG AND PROJEKKTOR.COM 2010
*/


/* SPEAKKER DARK --------------------------------------- */
/* INDIVIDUAL COLORS BLOCKS */

			.skControls { background-color:#212121}
			.skBiglayer { background-color:#252525}
		 .skLeftBlock,
	 .skMiddleBlock,
	 			.skSocial { border-color:#000;}

/* VOLUME COLORS  --------------------------------------*/
				.skVolume,
		 .skScrubbler { border:1px solid #151515} 
		 		.skVolume,
		 .skScrubbler { background-color:#000;}
					.skLoad { background-color:#2E2E2E;}
		.skTimeRemain,
	.skVolumeRemain { background-color:#9CA4BE}
	
					
/* FONT COLORS  --------------------------------------*/	 
				.speakker,
			.speakker a { color:#fcfcfc; font-weight:bold;}
.speakker a:hover { color:#b52b09}
				.speakker { text-shadow: 1px 1px 1px #111;}
		.skArtistlist 
				 a.active { color:#5d5c5c }
				 
/* SCROLLER COLORS ----------------------------------*/
	      .jspDrag { background-color:#171717;}
	.jspDrag:hover { background-color:#090909;}	
	
/* INDIVIDUAL WITDH FOR BOTTOM PLAYER |<-- STANDARD WIDTH 790px -->|  */

	 .speakker.fat  {	width:960px; } /* your layout wrap => fat width  */
	
	.speakker.fat .skActControl,
	.speakker.fat .skScrubbler  
								  { width:558px; } /* fat  => 960px */
	.speakker.fat						
	.skMiddleBlock,
	.speakker.fat	
 ul.skArtistlist  { width:692px;} /*  fat  => 960px */
 
/* SPEAKKER RESET & BASIC --------------------------------------- */
.speakker audio, .speakker li, 
.speakker span, .speakker strong {
	background: transparent;
	border: 0 none;
	font-size: 100%;
	margin: 0;
	padding: 0;
	vertical-align: baseline; 
}
.speakker {
	font-size:11px;
	font-family:"Century Gothic", Tahoma, Verdana, sans-serif;
	width:790px; /* Standard witdh for speakker */
}
.speakker {
	position: fixed;
	bottom:0;
	margin:0 auto;
}
.speakker a {
	outline:none;
}
/* MODULES */
.skControls {
	background-position:left top;
	background-repeat:repeat-x;
	text-align:left;
	border-bottom:1px solid #000;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	border-top-rigtht-radius: 10px;
	margin:0 auto;
	height:62px;
}
.skBiglayer {
	background-position:top left;
	background-repeat:repeat-y;
	margin:0 auto;
	height:218px;
	position:relative;
}
.skCopyright {
	background:#252525 url('../img/sk-copyright.png') right bottom repeat-x;
	border-top:1px solid #030303;
	width:100%;
	height: 25px;
	position:absolute;
	bottom:0;
	left:0;
	margin:0;
	padding:0;
}
.skLeftBlock {
	background-repeat:repeat;
	background-position:left bottom;
	float:left;
	width:94px;
	padding:17px;
	height:158px;
	border-style:solid;
	border-right-width:1px;
}
.skMiddleBlock {
	background-repeat:repeat;
	background-position:left bottom;
	float:left;
	width:522px;
	height:158px;
	padding:17px;
	border-style:solid;
	border-right-width:1px;
	overflow: hidden;
	position: relative;
}
.skRightBlock {
	background-repeat:repeat;
	background-position:right bottom;
	float:left;
	position:relative;
	width:104px;
	height:192px;
	text-align:center;
}
/* MODULE CONTROLS */
.skMainControl,
.skActControl { 
	float:left;
	position:relative;
	height:33px;
}
.skMainControl { 
	padding:17px 32px 12px 17px;
	width:97px;
}
.skActControl {
	width:385px; /* Standard witdh for speakker */
	padding:15px 0px 14px;
	
}
.skModuleControl {
	width:85px; 
	padding:17px 17px 12px 17px;
	float:right;
	height:33px;
}
.skVolumeControl { 
	float:left;
	position:relative;
	width:108px;
	height:33px;
	padding:17px 0px 12px 29px;
}
.skOpener,
.skOpener.close,
.skLoud {
	float:right;
	cursor:pointer;
}
.skPlay {
	margin:0 12px;
}
.skHeart,
.skPlay,
.skForwards,
.skBackwards,
.skMute,
.skLoop {
	float:left;
	cursor:pointer;
}
.skHeart { 
	background:transparent url('../img/sk-heart.png') left top no-repeat; 
	width:18px; 
	height:25px;
}
a.skEdit,
a.skUrl {
	background:transparent url('../img/sk-edit.png') right 4px no-repeat;
	text-transform:uppercase;
	text-decoration:none;
	float:left;
	font-size:10px;
	margin:6px 0 0 17px;
	padding-right:17px;
}
a.skEdit,
a.skUrl { 
	color:#fcfcfc;
	text-shadow: 1px 1px 1px #111;
	font-weight:normal;
}
a.skEdit:hover,
a.skUrl:hover { 
	color:#b52b09;
}
a.skUrl {
	color:#5d5c5c;
	background:none;
	padding-right:0px;
	margin:6px 17px 0 0;
	float:right;
}
.skWiki,
.skArtistlist { 
	list-style-type: none;
	margin-top:12px;
}
.skWiki a.lastfm {
	background:transparent url('../img/sk-lastfm.png') right 2px no-repeat;
	padding-right:24px;
}
.skWiki a {
	text-decoration:none;
	line-height:24px;
}
.skArtistlist a {
	text-decoration:none;
}
.skArtistlist li {
	margin:0 0 12px;
}
.skArtistlist {
	width:520px;
	margin:0;
	padding:0;
}
.skAct {
	width:276px;
	float:left;
	padding:0 12px;
	line-height:24px;
	height:24px;
	overflow:hidden;
}
.skTime { 
	width:65px;
	float:right;
	line-height:24px;
	text-align:right;
}
.skScrubbler {
	width:385px; /* Standard witdh for speakker */
	float:none;
	height:2px;
	position:absolute;
	left:0;
	bottom:15px;
	z-index:3;
}
.skLoad {
	float:none;
	height:2px;
	position:absolute;
	bottom:16px;
	left:1px;
	z-index:4;
}
.skTimeRemain {
	float:none;
	height:2px;
	position:absolute;
	bottom:16px;
	left:1px;
	z-index:5;
}
.skVolumeWidth { 
	width:48px;
	position: absolute;
	left:57px;
	bottom:15px;
	float:none;
}
.skVolume {
	width:100%;
	height:2px;
	position:absolute;
	left:0;
	bottom:12px;
	z-index:6;
}
.skVolumeRemain {
	float:none;
	height:2px;
	position:absolute;
	bottom:13px;
	left:1px;
	z-index:7;
	cursor:pointer;
}
.skLabel {
	background:transparent url('../img/sk-label.png') left top no-repeat;
	width:94px;
	height:75px;
	position:absolute;
	top:17px;
	left:17px;
	z-index:8;
}
.skSocial {
	width:70px;
	border-style:solid;
	border-bottom-width:1px;
	padding:17px;
	float:left;
}
.skFacebook,
.skTwitter {
	display:bock;
	float:left;
	text-indent:-99999px;
}
.skTwitter {
	margin-left:12px;
}
.skDownload {
	position:absolute;
	top:148px;
	left:17px;
	text-indent:-99999px;
}
/* WHEN NO COVER ADDED */
.skCover {
	background:transparent url('../img/sk-nocover.png') left top no-repeat;
	width:72px;
	height:72px;
	overflow:hidden;
}
.jspPane {
	position: absolute;
	padding:0;
}
.jspVerticalBar { /* width of bar */
	position: absolute;
	top: 0;
	right: 0;
	width: 16px;
	height: 100%;
	background: transparent;
}
.jspVerticalBar * {
	margin: 0;
	padding: 0;
}
.jspCap {
	display: none;
}
.jspTrack {
	position: relative;
}
.jspDrag {
	position: relative;
	top: 0;
	left: 0;
	cursor: pointer;
	left:2px;
	width:12px;
	-moz-border-radius: 100px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}
.jspArrow {
	text-indent: -20000px;
	display: block;
	cursor: pointer;
}
.jspArrow.jspDisabled {
	cursor: default;
}
.jspVerticalBar .jspArrow {
	height: 16px;
}
.jspVerticalBar .jspArrow:focus {
	outline: none;
}

/* THEME LIGHT */
.light .skBackwards,
.light .skForwards,
.light .skOpener,
.light .skOpener.close,
.light .skDownload,
.light .skFacebook,
.light .skTwitter,
.light .skLoop,
.light .skLoud,
.light .skMute,
.light .skPlay,
.light .skPlay.pause,
.light .jspArrow.jspArrowUp.jspDisabled,
.light .jspArrow.jspArrowUp,
.light .jspArrow.jspArrowDown.jspDisabled,
.light .jspArrow.jspArrowDown { background-image: url('../img/light/sk-light.png'); }
.light .skLeftBlock { background-image: url('../img/light/sk-leftblock.png'); }
.light .skMiddleBlock { background-image: url('../img/light/sk-middleblock.png'); }
.light .skRightBlock { background-image: url('../img/light/sk-rightblock.png'); }
.light .skControls { background-image:url('../img/light/sk-controlbg.png'); }

/* THEME DARK */
.dark .skBackwards,
.dark .skForwards,
.dark .skOpener,
.dark .skOpener.close,
.dark .skDownload,
.dark .skFacebook,
.dark .skTwitter,
.dark .skLoop,
.dark .skLoud,
.dark .skMute,
.dark .skPlay,
.dark .skPlay.pause,
.dark .jspArrow.jspArrowUp.jspDisabled,
.dark .jspArrow.jspArrowUp,
.dark .jspArrow.jspArrowDown.jspDisabled,
.dark .jspArrow.jspArrowDown { background-image: url('../img/dark/sk-dark.png'); }
.dark .skLeftBlock { background-image: url('../img/dark/sk-leftblock.png'); }
.dark .skMiddleBlock { background-image: url('../img/dark/sk-middleblock.png'); }
.dark .skRightBlock { background-image: url('../img/dark/sk-rightblock.png'); }
.dark .skControls { background-image:url('../img/dark/sk-controlbg.png'); }

/* ICONS POSITION */
.skBackwards { background-position:  0 0; height: 32px; width: 20px; }
.skBackwards:hover { background-position:  0 -32px; }
.skForwards { background-position:  0 -64px; height: 32px; width: 20px; }
.skForwards:hover { background-position:  0 -96px; }
.skOpener.close { background-position:  -24px 0; height: 28px; width: 26px; }
.skOpener.close:hover { background-position:  -24px -29px; }
.skDownload { background-position:  -50px 0; height: 32px; width: 67px; }
.skDownload:hover { background-position:  -50px -32px; }
.skFacebook { background-position:  -50px -64px; height: 33px; width: 28px; }
.skFacebook:hover { background-position:  -50px -98px; }
.skTwitter { background-position:  -78px -64px; height: 33px; width: 28px; }
.skTwitter:hover { background-position:  -78px -98px; }
.skLoop { background-position:  -24px -57px; height: 32px; width: 26px; }
.skLoop:hover { background-position:  -24px -89px; }
.skLoud { background-position:  -24px -120px; height: 32px; width: 26px; }
.skLoud:hover { background-position:  -24px -152px; }
.skMute { background-position:  -24px -184px; height: 32px; width: 26px; }
.skMute:hover { background-position:  -24px -216px; }
.skOpener { background-position:  -24px -248px; height: 28px; width: 26px; }
.skOpener:hover { background-position:  -24px -278px; }
.skPlay.pause { background-position:  -50px -132px; height: 34px; width: 32px; }
.skPlay.pause:hover { background-position:  -50px -167px; }
.skPlay { background-position:  -82px -132px; height: 34px; width: 32px; }
.skPlay:hover { background-position:  -82px -167px; }
.jspArrow.jspArrowDown.jspDisabled,
.jspArrow.jspArrowDown.jspDisabled:hover  { background-position:  0 -128px; height: 16px; width: 16px; }
.jspArrow.jspArrowDown { background-position:  0 -144px; height: 16px; width: 16px; }
.jspArrow.jspArrowDown:hover { background-position:  0 -160px; }
.jspArrow.jspArrowUp.jspDisabled,
.jspArrow.jspArrowUp.jspDisabled:hover { background-position:  0 -176px; height: 16px; width: 16px; }
.jspArrow.jspArrowUp { background-position:  0 -192px; height: 16px; width: 16px; }
.jspArrow.jspArrowUp:hover { background-position:  0 -208px; height: 16px; width: 16px; }