article, aside, audio, canvas, command, datalist, details, embed, figcaption, figure, footer, header, hgroup, keygen, meter, nav, output, progress, section, source, video{ display: block; }
mark, rp, rt, ruby, summary, time{ display: inline }


body{
	background:#60667b;
	font: normal normal 12px/12px Tahoma, Arial, Helvetica, Verdana, sans-serif; 
}

h1{ font-size: 4.4em; font-weight: normal; }
h2{ font-size: 2.8em; font-weight: bold; }
h3{ font-size: 1.6em; font-weight: bold; }
h4{ font-size: 1.2em; font-weight: bold; }

/* Reusable classes */

/* Left & Right alignment */
.left{ float: left; }
.right{ float: right; }

/* The inside class provides consistent padding. To be used often! */
.inside{ padding: 20px; }

/* The fraction classes are useful for column lists */
.half, .third, .quarter, .fifth, .sixth{ width: 100%; }
.half li, .third li, .quarter li, .fifth li, .sixth li{ float: left; }
.half li{ padding-right: 5%; width: 45% }
.third li{  padding-right: 5%; width: 28.3% }
.quarter li{  padding-right: 5%; width: 20% }
.fifth li{  padding-right: 5%; width: 15% }

/* For when a <br /> just ain't enough */
.separator{
	clear: both;
	float: left;
	height: 1px;
	width: 100%; }


/* Basic Structure ------------------------------------------ */
#wrap {
	margin: 0 auto;
	position: relative;
	width: 810px; /* width you like */
}
#logo {
	float: left;
	margin:40px 0 0 17px;
}
h1{ font: 88px 'Lobster1.1Regular', Arial, sans-serif; }