/* Getting the new tags to behave */
article, aside, audio, canvas, command, datalist, details, embed, figcaption, figure, footer, header, hgroup, keygen, meter, nav, output, progress, section, source, video{ display: block; }
mark, rp, rt, ruby, summary, time{ display: inline }


/* Site-wide properties */
body{
	background:#52576a;
	font: normal normal 12px/12px Tahoma, Arial, Helvetica, Verdana, sans-serif; 
}
	
	/* Fibonacci based heading scale ratio */
	h1{ font-size: 4.4em; font-weight: normal; }
	h2{ font-size: 2.8em; font-weight: bold; }
	h3{ font-size: 1.6em; font-weight: bold; }
	h4{ font-size: 1.2em; font-weight: bold; }

/* Reusable classes */

/* Left & Right alignment */
.left{ float: left; }
.right{ float: right; }

/* The inside class provides consistent padding. To be used often! */
.inside{ padding: 20px; }

/* The fraction classes are useful for column lists */
.half, .third, .quarter, .fifth, .sixth{ width: 100%; }
.half li, .third li, .quarter li, .fifth li, .sixth li{ float: left; }
.half li{ padding-right: 5%; width: 45% }
.third li{  padding-right: 5%; width: 28.3% }
.quarter li{  padding-right: 5%; width: 20% }
.fifth li{  padding-right: 5%; width: 15% }

/* For when a <br /> just ain't enough */
.separator{
	clear: both;
	float: left;
	height: 1px;
	width: 100%; }

/* Basic Structure ------------------------------------------ */
#wrap {
	margin: 0 auto;
	position: relative;
	overflow:auto;
	width: 792px; /* width you like */
}
#logo {
	float: left;
	margin:40px 0 0 17px;
}

h1{ font: 88px 'Lobster1.1Regular', Arial, sans-serif; }

/* SPEAKKER ------------------------------------------------ */
#speakker {
	position: fixed;
	bottom:0;
	width: 792px; /* width you like and remove your footer*/
}
#speakker a {
	outline:none;
}
/* INDIVIDUAL COLORS */
			#skControls { background-color:#212121} 
			#skBiglayer { background-color:#252525}
		#skTimeRemain,
	#skVolumeRemain { background-color:#9ca4be}
				#speakker { color:#fcfcfc}
			#speakker a { color:#fcfcfc}
#speakker a:hover { color:#b52b09}
		
/* WIDTH & FONTS */
#speakker {
	font-size:11px;
	font-family:"Century Gothic", Tahoma, Verdana, sans-serif;
	text-shadow: 1px 1px 1px #111;
}
/* THEME light */
.light #skOpener.close {
	background:transparent url('../img/light/sk-close.png') right top no-repeat;
	width:26px;
	height:28px;
	float:right;
	cursor:pointer;
	margin-top:1px;
}
.light #skOpener {
	background:transparent url('../img/light/sk-open.png') right top no-repeat;
	width:26px;
	height:28px;
	float:right;
	cursor:pointer;
	margin-top:1px;
}
.light #skForwards {
	background:transparent url('../img/light/sk-forwards.png') left top no-repeat;
	width:20px;
	height:32px;
	float:left;
	cursor:pointer;
}
.light #skBackwards {
	background:transparent url('../img/light/sk-backwards.png') left top no-repeat;
	width:20px;
	height:32px;
	float:left;
	cursor:pointer;
}
.light #skPlay {
	background:transparent url('../img/light/sk-play.png') left top no-repeat;
	width:32px;
	height:33px;
	float:left;
	cursor:pointer;
}
.light #skHeart {
	background:transparent url('../img/light/sk-heart.png') left top no-repeat;
	width:18px;
	height:25px;
	float:left;
}
.light #skMute,
.light #skLoud {
	background:transparent url('../img/light/sk-mute.png') left top no-repeat;
	width:26px;
	height:32px;
	float:left;
	cursor:pointer;
}
.light #skLoud {
	background:transparent url('../img/light/sk-loud.png') left top no-repeat;
	float:right;
}
.light #skLoop {
	background:transparent url('../img/light/sk-loop.png') left top no-repeat;
	width:26px;
	height:32px;
	float:left;
	cursor:pointer;
	margin-top:1px;
}
/* GENERAL */
#skControls {
	background-image:url('../img/sk-controlbg.png');
	background-position:left top;
	text-align:left;
	border-bottom:1px solid #080808;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	margin:0 auto;
	width:758px; /* 792px - padding effective width */
	height:35px; /*  62px - padding effective height */
	padding:17px 17px 10px 17px;
}
#skBiglayer {
	background-image: url('../img/sk-openbg.png');
	background-position:top left;
	background-repeat:repeat-y;
	margin:0 auto;
	width:758px;   /* 792px - padding */
	height:201px; /* 218px - padding */
	padding:17px 17px 0px 17px;
	position:relative;
}
#skRightBlock {
	float:left;
	width:130px;
}
#skMiddleBlock {
	width:515px;
	height:162px;
}
#skCopyright {
	background:#252525 url('../img/sk-copyright.png') right bottom;
	border-top:1px solid #030303;
	width:792px;
	height: 25px;
	position:absolute;
	bottom:0;
	left:0;
}
a#skEdit,
a#skUrl {
	background:transparent url('../img/sk-edit.png') right 4px no-repeat;
	text-transform:uppercase;
	text-decoration:none;
	float:left;
	font-size:10px;
	margin:6px 0 0 17px;
	padding-right:17px;
}
a#skUrl {
	color:#5d5c5c;
	background:none;
	padding-right:0px;
	margin:6px 17px 0 0;
	float:right;
}
#skWiki,
#skArtistlist { 
	list-style-type: none;
	margin-top:12px;
}
#skWiki a.lastfm {
	background:transparent url(../img/sk-lastfm.png) right 2px no-repeat;
	padding-right:24px;
}
#skWiki a {
	text-decoration:none;
	line-height:24px;
}
#skArtistlist a {
	text-decoration:none;
}
#skArtistlist li {
	margin:0 0 12px;
}
#skArtistlist {
	width:515px;
	margin:0;
}
#skAct {
	width:276px;
	float:left;
	padding:0 12px;
	line-height:24px;
	height:24px;
	overflow:hidden;
}
#skTime { 
	width:65px;
	float:right;
	line-height:24px;
	text-align:right;
}
#skScrubbler {
	background-color:#000;
	border:1px solid #151515;
	width:384px;
	float:none;
	height:2px;
	position:absolute;
	left:0;
	bottom:2px;
	z-index:3;
}
#skLoad {
	background-color:#2e2e2e;
	float:none;
	height:2px;
	position:absolute;
	bottom:3px;
	left:1px;
	z-index:4;
}
#skTimeRemain {
	float:none;
	height:2px;
	position:absolute;
	bottom:3px;
	left:1px;
	z-index:5;
}
#skVolumeWidth { 
	width:48px;
	position: absolute;
	left:28px;
	bottom:16px;
	float:none;
}
#skVolume {
	background-color:#000;
	border:1px solid #151515;
	width:100%;
	height:2px;
	position:absolute;
	left:0;
	bottom:0;
	z-index:6;
}
#skVolumeRemain {
	float:none;
	height:2px;
	position:absolute;
	bottom:1px;
	left:1px;
	z-index:7;
	cursor:pointer;
}
#skLabel {
	background:transparent url('../img/sk-label.png') top left no-repeat;
	width:94px;
	height:75px;
	position:absolute;
	top:17px;
	left:17px;
	z-index:8;
}
#skMainControl,
#skActControl { 
	margin-right:32px;
	float:left;
	position:relative;
	height:33px;
}
#skActControl {
	width:383px;
}
#skVolumeControl { 
	margin:1px 16px 0 0;
	float:left;
	position:relative;
	width:108px;
	height:33px;
}
/* HELPER */ 
.expand {
	margin:0 12px;
}