/*
 ____ ____ ____ ____ ____ ____ ____ ____ 
||s |||p |||e |||a |||k |||k |||e |||r ||
||__|||__|||__|||__|||__|||__|||__|||__||
|/__\|/__\|/__\|/__\|/__\|/__\|/__\|/__\|

PORKHEAD.ORG AND PROJEKKTOR.COM 2010
*/


/* SPEAKKER START --------------------------------------- */
/* INDIVIDUAL COLORS */

			#skControls { background-color:#212121} 
			#skBiglayer { background-color:#252525}
			
		#skTimeRemain,
	#skVolumeRemain { background-color:#9ca4be}
				#skVolume,
		 #skScrubbler { border:1px solid #151515;}
		 
				#speakker,
			#speakker a { color:#fcfcfc; font-weight:normal;}
#speakker a:hover { color:#b52b09}


/* INDIVIDUAL WITDH FOR BOTTOM PLAYER - MINIMAL WIDTH POSSIBLE 790PX  */

	#speakker.maxi {	width:960px; } /* your layout wrap => maxi width  */
	#speakker.mini {	width:790px; } /* your layout wrap => mini width  */
	
		
	#speakker.mini #skActControl,
	#speakker.mini #skScrubbler  
									{ width:386px; } /* mini width:386px; = 790px */
	#speakker.maxi #skActControl,
	#speakker.maxi #skScrubbler  
									{ width:558px; } /* maxi width:520px; => 960px */
	#speakker.maxi						
	#skMiddleBlock,
	#speakker.maxi	
 ul#skArtistlist  { width:692px;} /*  maxi width:692px; => 960px */
			
/* SPEAKKER RESET & BASIC --------------------------------------- */
#speakker audio, #speakker li, 
#speakker span, #speakker strong {
	background: transparent;
	border: 0 none;
	font-size: 100%;
	margin: 0;
	padding: 0;
	vertical-align: baseline; 
}
#speakker {
	font-size:11px;
	font-family:"Century Gothic", Tahoma, Verdana, sans-serif;
	text-shadow: 1px 1px 1px #111;
}
#speakker {
	position: fixed;
	bottom:0;
	margin:0 auto;
}
/* THEME DARK */
.dark #skOpener.close {
	background:transparent url('../img/dark/sk-close.png') right top no-repeat;
}
.dark #skOpener {
	background:transparent url('../img/dark/sk-open.png') right top no-repeat;
}
.dark #skForwards {
	background:transparent url('../img/dark/sk-forwards.png') left top no-repeat;
}
.dark #skBackwards {
	background:transparent url('../img/dark/sk-backwards.png') left top no-repeat;
}
.dark #skPlay {
	background:transparent url('../img/dark/sk-play.png') left top no-repeat;
}
.dark #skHeart {
	background:transparent url('../img/dark/sk-heart.png') left top no-repeat;
}
.dark #skMute {
	background:transparent url('../img/dark/sk-mute.png') left top no-repeat;
}
.dark #skLoud {
	background:transparent url('../img/dark/sk-mute.png') left top no-repeat;
}
.dark #skLoop {
	background:transparent url('../img/dark/sk-loop.png') left top no-repeat;
}
.dark #skFacebook {
	background:transparent url('../img/dark/sk-facebook.png') left top no-repeat;
}
.dark #skFacebook:hover {
	background:transparent url('../img/dark/sk-facebook.png') left bottom no-repeat;
}
.dark #skTwitter {
	background:transparent url('../img/dark/sk-twitter.png') left top no-repeat;
}
.dark #skTwitter:hover {
	background:transparent url('../img/dark/sk-twitter.png') left bottom no-repeat;
}
.dark #skDownload {
	background:transparent url('../img/dark/sk-download.png') left top no-repeat;
}
.dark #skDownload:hover {
	background:transparent url('../img/dark/sk-download.png') left bottom no-repeat;
}
/* MODULES */
#skControls {
	background-image:url('../img/sk-controlbg.png');
	background-position:left top;
	background-repeat:repeat-x;
	text-align:left;
	border-bottom:1px solid #000;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	margin:0 auto;
	height:62px;
}
#skBiglayer {
	background-position:top left;
	background-repeat:repeat-y;
	margin:0 auto;
	height:218px;
	position:relative;
}
#speakker.mini.light #skBiglayer {
	background-image: url('../img/sk-openbg-mini-light.png'); 
}
#speakker.maxi.light #skBiglayer {
	background-image: url('../img/sk-openbg-maxi-light.png'); 
}
#speakker.mini.dark #skBiglayer { 
	background-image: url('../img/sk-openbg-mini-dark.png'); 
}
#speakker.maxi.dark #skBiglayer { 
	background-image: url('../img/sk-openbg-maxi-dark.png'); 
}
#skCopyright {
	background:#252525 url('../img/sk-copyright.png') right bottom repeat-x;
	border-top:1px solid #030303;
	width:100%;
	height: 25px;
	position:absolute;
	bottom:0;
	left:0;
	margin:0;
	padding:0;
}
#skLeftBlock {
	float:left;
	width:95px;
	padding:17px;
}
#skMiddleBlock {
	float:left;
	width:522px;
	height:158px;
	padding:17px;
}
#skRightBlock {
	padding:17px;
	float:left;
	padding-bottom:17px;
	border-bottom:1px solid #000;
	position:relative;
	width:70px;
}
/* MODULE CONTROLS */
#skMainControl,
#skActControl { 
	float:left;
	position:relative;
	height:33px;
}
#skMainControl { 
	padding:17px 32px 12px 17px;
	width:97px;
}
#skActControl {
	padding:15px 0px 14px;
}
#skModuleControl {
	width:85px; 
	padding:17px 17px 12px 17px;
	float:right;
	height:33px;
}
#skVolumeControl { 
	float:left;
	position:relative;
	width:108px;
	height:33px;
	padding:17px 0px 12px 29px;
}
#skOpener.close {
	width:26px;
	height:28px;
	float:right;
	cursor:pointer;
}
#skOpener {
	width:26px;
	height:28px;
	float:right;
	cursor:pointer;
}
#skForwards {
	width:20px;
	height:32px;
	float:left;
	cursor:pointer;
}
#skBackwards {
	width:20px;
	height:32px;
	float:left;
	cursor:pointer;
}
#skPlay {
	width:32px;
	height:33px;
	float:left;
	cursor:pointer;
}
#skHeart {
	width:18px;
	height:25px;
	float:left;
}
#skMute,
#skLoud {
	width:26px;
	height:32px;
	float:left;
	cursor:pointer;
}
#skLoud {
	float:right;
}
#skLoop {
	width:26px;
	height:32px;
	float:left;
	cursor:pointer;
}
a#skEdit,
a#skUrl {
	background:transparent url('../img/sk-edit.png') right 4px no-repeat;
	text-transform:uppercase;
	text-decoration:none;
	float:left;
	font-size:10px;
	margin:6px 0 0 17px;
	padding-right:17px;
}
a#skUrl {
	color:#5d5c5c;
	background:none;
	padding-right:0px;
	margin:6px 17px 0 0;
	float:right;
}
#skWiki,
#skArtistlist { 
	list-style-type: none;
	margin-top:12px;
}
#skWiki a.lastfm {
	background:transparent url('../img/sk-lastfm.png') right 2px no-repeat;
	padding-right:24px;
}
#skWiki a {
	text-decoration:none;
	line-height:24px;
}
#skArtistlist a {
	text-decoration:none;
}
#skArtistlist a.active {
	color:#5d5c5c
}
#skArtistlist li {
	margin:0 0 12px;
}
#skArtistlist {
	width:520px;
	margin:0;
	padding:0;
}
#skAct {
	width:276px;
	float:left;
	padding:0 12px;
	line-height:24px;
	height:24px;
	overflow:hidden;
}
#skTime { 
	width:65px;
	float:right;
	line-height:24px;
	text-align:right;
}
#skScrubbler {
	background-color:#000;
	float:none;
	height:2px;
	position:absolute;
	left:0;
	bottom:15px;
	z-index:3;
}
#skLoad {
	background-color:#2e2e2e;
	float:none;
	height:2px;
	position:absolute;
	bottom:16px;
	left:1px;
	z-index:4;
}
#skTimeRemain {
	float:none;
	height:2px;
	position:absolute;
	bottom:16px;
	left:1px;
	z-index:5;
}
#skVolumeWidth { 
	width:48px;
	position: absolute;
	left:57px;
	bottom:15px;
	float:none;
}
#skVolume {
	background-color:#000;
	width:100%;
	height:2px;
	position:absolute;
	left:0;
	bottom:12px;
	z-index:6;
}
#skVolumeRemain {
	float:none;
	height:2px;
	position:absolute;
	bottom:13px;
	left:1px;
	z-index:7;
	cursor:pointer;
}
#skLabel {
	background:transparent url('../img/sk-label.png') left top no-repeat;
	width:94px;
	height:75px;
	position:absolute;
	top:17px;
	left:17px;
	z-index:8;
}
#skFacebook,
#skTwitter {
	width:28px;
	height:32px;
	display:bock;
	float:left;
	text-indent:-99999px;
}
#skTwitter {
	margin-left:12px;
}
#skDownload {
	width:67px;
	height:32px;
	position:absolute;
	top:148px;
	left:17px;
	text-indent:-99999px;
}
/* WHEN NO COVER ADDED */
#skCover {
	background:transparent url('../img/sk-nocover.png') left top no-repeat;
	width:72px;
	height:72px;
	overflow:hidden;
}
/* HELPER AND SCROLLER */ 
.expand {
	margin:0 12px;
}
.jspContainer {
	overflow: hidden;
	position: relative;
}
.jspPane {
	position: absolute;
	padding:0;
}
.jspVerticalBar { /* width of bar */
	position: absolute;
	top: 0;
	right: 0;
	width: 16px;
	height: 100%;
	background: transparent;
}
.jspVerticalBar * {
	margin: 0;
	padding: 0;
}
.jspCap {
	display: none;
}
.jspTrack {
	position: relative;
}
.jspDrag {
	background: #bbd;
	position: relative;
	top: 0;
	left: 0;
	cursor: pointer;
}
.jspArrow {
	background: #50506d;
	text-indent: -20000px;
	display: block;
	cursor: pointer;
}
.jspArrow.jspDisabled {
	cursor: default;
	background: #80808d;
}
.jspVerticalBar .jspArrow {
	height: 16px;
}
.jspVerticalBar .jspArrow:focus {
	outline: none;
}