article, aside, audio, canvas, command, datalist, details, embed, figcaption, figure, footer, header, hgroup, keygen, meter, nav, output, progress, section, source, video{ display: block; }
mark, rp, rt, ruby, summary, time{ display: inline }

* {
	margin:0;
	padding:0;
	border:0;
}
body{
	background:#60667b;
	font: normal normal 14px/12px Tahoma, Arial, Helvetica, Verdana, sans-serif;
	text-shadow: 0px -1px 0px #3f4353;
	color:#fff;
}

@font-face {
	font-family: 'DINNeuzeitGroteskLTLightRegul';
	src: url('../fonts/din_1-webfont.eot');
	src: local(' '), url('../fonts/din_1-webfont.woff') format('woff'), url('../fonts/din_1-webfont.ttf') format('truetype'), url('../fonts/din_1-webfont.svg#webfontnjHhrgKZ') format('svg');
	font-weight: normal;
	font-style: normal;
}

h1{ font-size: 1.6em; font-weight: normal; font-family:"DINNeuzeitGroteskLTLightRegul", Arial, Helvetica, sans-serif; padding:0 0 12px; }
h2{ font-size: 1.2em; font-weight: normal; padding:0 0 8px;}
p { padding:0 0 10px; }
a { color:#fff; font-weight:bold;}
a:hover{ color:#b8c6ef; text-decoration:none;}
#navigation { list-style-type:none; float:right; margin-top:10px;}
#navigation li { float:left;}
/* Reusable classes */

/* Left & Right alignment */
.left{ float: left; }
.right{ float: right; }

/* The inside class provides consistent padding. To be used often! */
.inside,.inside-plus { padding: 40px 0; float:left; line-height:20px;}

/* The fraction classes are useful for column lists */
.half, .half-pad, .third, .quarter, .fifth, .sixth, .two-third {  padding:0; float: left; }
.half li, .third li, .quarter li, .fifth li, .sixth li { float: left; list-style-type:none;}
.half li { padding-right: 5%; width: 45% }
.third li{  padding-right: 5%; width: 28.3% }
.quarter li{  padding-right: 5%; width: 20% }
.fifth li{  padding-right: 5%; width: 15% }

.two-third { padding-right: 5%; width: 70% }
.half { width: 50%}
.third {  padding-right: 5%; width: 28.3% }
.quarter {  width: 25% }
.fifth {  padding-right: 5%; width: 15% }
.half-pad { padding-left: 5%; width: 45%}
/* For when a <br /> just ain't enough */
.separator{
	clear: both;
	float: left;
	height: 1px;
	width: 100%; }


/* Basic Structure ------------------------------------------ */
#wrap {
	margin: 0 auto;
	position: relative;
	width: 790px; /* width you like */
}
#logo {
	float: left;
}